/*
=====================================================================
*   Ceevee v1.0 Default Stylesheet
*   url: styleshout.com
*   03-17-2014
=====================================================================

TOC:
a. Webfonts and Icon fonts
b. Reset
c. Default Styles
   1. Basic
   2. Typography
   3. Links
   4. Images
   5. Buttons
   6. Forms

d. Grid
e. Others
   1. Clearing
   2. Misc

=====================================================================  */

/* ------------------------------------------------------------------ */
/* a. Webfonts and Icon fonts
 ------------------------------------------------------------------ */

@import url("fonts.css");
@import url("fontello/css/fontello.css");
@import url("font-awesome/css/font-awesome.min.css");

/* ------------------------------------------------------------------
/* b. Reset
      Adapted from:
      Normalize.css - https://github.com/necolas/normalize.css/
      HTML5 Doctor Reset - html5doctor.com/html-5-reset-stylesheet/
/* ------------------------------------------------------------------ */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
   display: block;
}

audio,
canvas,
video {
   display: inline-block;
}

audio:not([controls]) {
   display: none;
   height: 0;
}

[hidden] { display: none; }

code, kbd, pre, samp {
   font-family: monospace, serif;
   font-size: 1em;
}

pre {
   white-space: pre;
   white-space: pre-wrap;
   word-wrap: break-word;
}

blockquote, q { quotes: &#8220 &#8220; }

blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}

ins {
   background-color: #ff9;
   color: #000;
   text-decoration: none;
}

mark {
   background-color: #A7F4F6;
   color: #555;
}

del { text-decoration: line-through; }

abbr[title], dfn[title] {
   border-bottom: 1px dotted;
   cursor: help;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}


/* ------------------------------------------------------------------ */
/* c. Default and Basic Styles
      Adapted from:
      Skeleton CSS Framework - http://www.getskeleton.com/
      Typeplate Typographic Starter Kit - http://typeplate.com/
/* ------------------------------------------------------------------ */

/*  1. Basic  ------------------------------------------------------- */

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
   -webkit-font-smoothing: antialiased;
}

body {
   background: #fff;
   font-family: 'opensans-regular', sans-serif;
   font-weight: normal;
   font-size: 15px;
   line-height: 30px;
	color: #838C95;

   -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}
.select-one
{
   margin-left: 0px !important;
   width: 80% !important;
   border-radius: 6px;
   border: 1px solid #e8dddd !important;
}
.select-two
{
   margin-left: -68px !important;
   width: 80% !important;
   border-radius: 6px;
   border: 1px solid #e8dddd !important;
}
 .header-search-form
   {
         margin-left: 7% !important; margin-top: 6% !important; margin-right: 7% !important;
   }

/*  2. Typography
       Vertical rhythm with leading derived from 6
--------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
   color: #313131;
	font-family: 'opensans-bold', sans-serif;
   font-weight: normal;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 38px; line-height: 42px; margin-bottom: 12px; letter-spacing: -1px; }
h2 { font-size: 28px; line-height: 36px; margin-bottom: 6px; }
h3 { font-size: 22px; line-height: 30px; margin-bottom: 12px; }
h4 { font-size: 20px; line-height: 30px; margin-bottom: 6px; }
h5 { font-size: 18px; line-height: 30px; }
h6 { font-size: 14px; line-height: 30px; }
.subheader { }

p { margin: 0 0 30px 0; }
p img { margin: 0; }
p.lead {
   font: 19px/36px 'opensans-light', sans-serif;
   margin-bottom: 18px;
}

/* for 'em' and 'strong' tags, font-size and line-height should be same with
the body tag due to rendering problems in some browsers */
em { font: 15px/30px 'opensans-italic', sans-serif; }
strong, b { font: 15px/30px 'opensans-bold', sans-serif; }
small { font-size: 11px; line-height: inherit; }

/*	Blockquotes */
blockquote {
   margin: 30px 0px;
   padding-left: 40px;
   position: relative;
}
blockquote:before {
   content: "\201C";
   opacity: 0.45;
   font-size: 80px;
   line-height: 0px;
   margin: 0;
   font-family: arial, sans-serif;

   position: absolute;
   top:  30px;
	left: 0;
}
blockquote p {
   font-family: 'librebaskerville-italic', serif;
   padding: 0;
   font-size: 18px;
   line-height: 36px;
}
blockquote cite {
   display: block;
   font-size: 12px;
   font-style: normal;
   line-height: 18px;
}
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a,
blockquote cite a:visited { color: #8B9798; border: none }

/* ---------------------------------------------------------------------
/*  Pull Quotes Markup
/*
    <aside class="pull-quote">
		<blockquote>
			<p></p>
		</blockquote>
	 </aside>
/*
/* --------------------------------------------------------------------- */
.pull-quote {
   position: relative;
	padding: 18px 30px 18px 0px;
}
.pull-quote:before,
.pull-quote:after {
	height: 1em;
	opacity: 0.45;
	position: absolute;
	font-size: 80px;
   font-family: Arial, Sans-Serif;
}
.pull-quote:before {
	content: "\201C";
	top:  33px;
	left: 0;
}
.pull-quote:after {
	content: '\201D';
	bottom: -33px;
	right: 0;
}
.pull-quote blockquote {
   margin: 0;
}
.pull-quote blockquote:before {
   content: none;
}

/* Abbreviations */
abbr {
   font-family: 'opensans-bold', sans-serif;
	font-variant: small-caps;
	text-transform: lowercase;
   letter-spacing: .5px;
	color: gray;
}
abbr:hover { cursor: help; }

/* drop cap */
.drop-cap:first-letter {
	float: left;
	margin: 0;
	padding: 14px 6px 0 0;
	font-size: 84px;
	font-family: /* Copperplate */ 'opensans-bold', sans-serif;
   line-height: 60px;
	text-indent: 0;
	background: transparent;
	color: inherit;
}

hr { border: solid #E3E3E3; border-width: 1px 0 0; clear: both; margin: 11px 0 30px; height: 0; }


/*  3. Links  ------------------------------------------------------- */

a, a:visited {
   text-decoration: none;
   outline: 0;
   color: #fff;

   -webkit-transition: color .3s ease-in-out;
   -moz-transition: color .3s ease-in-out;
   -o-transition: color .3s ease-in-out;
   transition: color .3s ease-in-out;
}
a:hover, a:focus { color: #313131; }
p a, p a:visited { line-height: inherit; }


/*  4. List  --------------------------------------------------------- */

ul, ol { margin-bottom: 24px; margin-top: 12px; }
ul { list-style: none outside; }
ol { list-style: decimal; }
ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul ul, ul ol,
ol ol, ol ul { margin: 6px 0 6px 30px; }
ul ul li, ul ol li,
ol ol li, ol ul li { margin-bottom: 6px; }
li { line-height: 18px; margin-bottom: 12px; }
ul.large li { }
li p { }

/* ---------------------------------------------------------------------
/*  Stats Tab Markup

    <ul class="stats-tabs">
		<li><a href="#">[value]<b>[name]</b></a></li>
	 </ul>

    Extend this object into your markup.
/*
/* --------------------------------------------------------------------- */
.stats-tabs {
   padding: 0;
   margin: 24px 0;
}
.stats-tabs li {
	display: inline-block;
	margin: 0 10px 18px 0;
	padding: 0 10px 0 0;
	border-right: 1px solid #ccc;
}
.stats-tabs li:last-child {
	margin: 0;
	padding: 0;
	border: none;
}
.stats-tabs li a {
	display: inline-block;
	font-size: 22px;
	font-family: 'opensans-bold', sans-serif;
   border: none;
   color: #313131;
}
.stats-tabs li a:hover {
   color:#11ABB0;
}
.stats-tabs li a b {
	display: block;
	margin: 6px 0 0 0;
	font-size: 13px;
	font-family: 'opensans-regular', sans-serif;
   color: #8B9798;
}

/* definition list */
dl { margin: 12px 0; }
dt { margin: 0; color:#11ABB0; }
dd { margin: 0 0 0 20px; }

/* Lining Definition Style Markup */
.lining dt,
.lining dd {
	display: inline;
	margin: 0;
}
.lining dt + dt:before,
.lining dd + dt:before {
	content: "\A";
	white-space: pre;
}
.lining dd + dd:before {
	content: ", ";
}
.lining dd:before {
	content: ": ";
	margin-left: -0.2em;
}

/* Dictionary Definition Style Markup */
.dictionary-style dt {
	display: inline;
	counter-reset: definitions;
}
.dictionary-style dt + dt:before {
	content: ", ";
	margin-left: -0.2em;
}
.dictionary-style dd {
	display: block;
	counter-increment: definitions;
}
.dictionary-style dd:before {
	content: counter(definitions, decimal) ". ";
}

/* Pagination */
.pagination {
   margin: 36px auto;
   text-align: center;
}
.pagination ul li {
   display: inline-block;
   margin: 0;
   padding: 0;
}
.pagination .page-numbers {
   font: 15px/18px 'opensans-bold', sans-serif;
   display: inline-block;
   padding: 6px 10px;
   margin-right: 3px;
   margin-bottom: 6px;
	color: #6E757C;
	background-color: #E6E8EB;

	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;

   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   -khtml-border-radius: 3px;
	border-radius: 3px;
}
.pagination .page-numbers:hover {
   background: #838A91;
   color: #fff;
}
.pagination .current,
.pagination .current:hover {
   background-color: #11ABB0;
   color: #fff;
}
.pagination .inactive,
.pagination .inactive:hover {
   background-color: #E6E8EB;
	color: #A9ADB2;
}
.pagination .prev, .pagination .next {}

/*  5. Images  --------------------------------------------------------- */

img {
   max-width: 100%;
   height: auto;
}
img.pull-right { margin: 12px 0px 0px 18px; }
img.pull-left { margin: 12px 18px 0px 0px; }

/*  6. Buttons  --------------------------------------------------------- */

.button,
.button:visited,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
   font: 16px/30px 'opensans-bold', sans-serif;
   background: #11ABB0;
   display: inline-block;
	text-decoration: none;
   letter-spacing: 0;
   color: #fff;
	padding: 12px 20px;
	margin-bottom: 18px;
   border: none;
   cursor: pointer;
   height: auto;

   -webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;

   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   -khtml-border-radius: 3px;
   border-radius: 3px;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
   background: #3d4145;
   color: #fff;
}

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
   background: #3d4145;
   color: #fff;
}

.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center;
}

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/*  7. Forms  --------------------------------------------------------- */

form { margin-bottom: 24px; }
fieldset { margin-bottom: 24px; }

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
   display: block;
   padding: 18px 15px;
   margin: 0 0 24px 0;
  /* border: 0;*/
   outline: none;
   vertical-align: middle;
   min-width: 225px;
	max-width: 100%;
   font-size: 15px;
   line-height: 24px;
	color: #647373;
/*	background: #D3D9D9;*/

}

/* select { padding: 0;
   width: 220px;
   } */

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
   color: #B3B7BC;
	/*background-color: #3d4145;*/
}

textarea { min-height: 220px; }

label,
legend {
   font: 16px/24px 'opensans-bold', sans-serif;
	margin: 12px 0;
   color: #3d4145;
   display: block;
}
label span,
legend span {
	color: #8B9798;
   font: 14px/24px 'opensans-regular', sans-serif;
}

input[type="checkbox"],
input[type="radio"] {
    font-size: 15px;
    color: #737373;
}

input[type="checkbox"] { display: inline; }

/* ------------------------------------------------------------------ */
/* d. Grid
---------------------------------------------------------------------
   gutter = 40px.
/* ------------------------------------------------------------------ */

/* default
--------------------------------------------------------------- */
/*.row {
   width: 96%;
   max-width: 1020px;
   margin: 0 auto;
}*/
/* fixed width for IE8 */
.ie .row { width: 1000px ; }

.narrow .row { max-width: 980px; }

.row .row { width: auto; max-width: none; margin: 0 -20px; }

/* row clearing */
.row:before,
.row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}

.column, .columns {
   position: relative;
   padding: 0 20px;
   min-height: 1px;
   float: left;
}
.column.centered, .columns.centered  {
    float: none;
    margin: 0 auto;
}

/* removed gutters */
.row.collapsed > .column,
.row.collapsed > .columns,
.column.collapsed, .columns.collapsed  { padding: 0; }

[class*="column"] + [class*="column"]:last-child { float: right; }
[class*="column"] + [class*="column"].end { float: right; }

/* column widths */
.row .one         { width: 8.33333%; }
.row .two         { width: 16.66667%; }
.row .three       { width: 25%; }
.row .four        { width: 33.33333%; }
.row .five        { width: 41.66667%; }
.row .six         { width: 50%; }
.row .seven       { width: 58.33333%; }
.row .eight       { width: 66.66667%; }
.row .nine        { width: 75%; }
.row .ten         { width: 83.33333%; }
.row .eleven      { width: 91.66667%; }
.row .twelve      { width: 100%; }

/* Offsets */
.row .offset-1    { margin-left: 8.33333%; }
.row .offset-2    { margin-left: 16.66667%; }
.row .offset-3    { margin-left: 25%; }
.row .offset-4    { margin-left: 33.33333%; }
.row .offset-5    { margin-left: 41.66667%; }
.row .offset-6    { margin-left: 50%; }
.row .offset-7    { margin-left: 58.33333%; }
.row .offset-8    { margin-left: 66.66667%; }
.row .offset-9    { margin-left: 75%; }
.row .offset-10   { margin-left: 83.33333%; }
.row .offset-11   { margin-left: 91.66667%; }

/* Push/Pull */
.row .push-1      { left: 8.33333%; }
.row .pull-1      { right: 8.33333%; }
.row .push-2      { left: 16.66667%; 	}
.row .pull-2      { right: 16.66667%; }
.row .push-3      { left: 25%; }
.row .pull-3      { right: 25%;	}
.row .push-4      { left: 33.33333%; }
.row .pull-4      { right: 33.33333%; }
.row .push-5      { left: 41.66667%; }
.row .pull-5      { right: 41.66667%; }
.row .push-6      { left: 50%; }
.row .pull-6      { right: 50%; }
.row .push-7      { left: 58.33333%; }
.row .pull-7      { right: 58.33333%; }
.row .push-8      { left: 66.66667%; 	}
.row .pull-8      { right: 66.66667%; }
.row .push-9      { left: 75%; }
.row .pull-9      { right: 75%; }
.row .push-10     { left: 83.33333%; }
.row .pull-10     { right: 83.33333%; }
.row .push-11     { left: 91.66667%; }
.row .pull-11     { right: 91.66667%; }

/* block grids
--------------------------------------------------------------------- */
.bgrid-sixths [class*="column"]   { width: 16.66667%; }
.bgrid-quarters [class*="column"] { width: 25%; }
.bgrid-thirds [class*="column"]   { width: 33.33333%; }
.bgrid-halves [class*="column"]   { width: 50%; }

[class*="bgrid"] [class*="column"] + [class*="column"]:last-child { float: left; }

/* Left clearing for block grid columns - columns that changes width in
different screen sizes. Allows columns with different heights to align
properly.
--------------------------------------------------------------------- */
.first { clear: left; }   /* first column in default screen */
.s-first { clear: none; } /* first column in smaller screens */

/* smaller screens
--------------------------------------------------------------- */
@media only screen and (max-width: 900px) {

   /* block grids on small screens */
   .s-bgrid-sixths [class*="column"]   { width: 16.66667%; }
   .s-bgrid-quarters [class*="column"] { width: 25%; }
   .s-bgrid-thirds [class*="column"]   { width: 33.33333%; }
   .s-bgrid-halves [class*="column"]   { width: 50%; }

   /* block grids left clearing */
   .first { clear: none; }
   .s-first { clear: left; }

}

/* mobile wide/smaller tablets
--------------------------------------------------------------- */
@media only screen and (max-width: 767px) {

   .row {
	   width: 460px;
	   margin: 0 auto;
      padding: 0;
	}
   .column, .columns {
	   width: auto !important;
	   float: none;
	   margin-left: 0;
	   margin-right: 0;
      padding: 0 30px;
   }
   .row .row { width: auto; max-width: none; margin: 0 -30px; }

   [class*="column"] + [class*="column"]:last-child { float: none; }
   [class*="bgrid"] [class*="column"] + [class*="column"]:last-child { float: none; }

   /* Offsets */
   .row .offset-1    { margin-left: 0%; }
   .row .offset-2    { margin-left: 0%; }
   .row .offset-3    { margin-left: 0%; }
   .row .offset-4    { margin-left: 0%; }
   .row .offset-5    { margin-left: 0%; }
   .row .offset-6    { margin-left: 0%; }
   .row .offset-7    { margin-left: 0%; }
   .row .offset-8    { margin-left: 0%; }
   .row .offset-9    { margin-left: 0%; }
   .row .offset-10   { margin-left: 0%; }
   .row .offset-11   { margin-left: 0%; }
}

/* mobile narrow
--------------------------------------------------------------- */
@media only screen and (max-width: 460px) {

   .row { width: auto; }

}

/* larger screens
--------------------------------------------------------------- */
@media screen and (min-width: 1200px) {

   .wide .row { max-width: 1180px; }

}

/* ------------------------------------------------------------------ */
/* e. Others
/* ------------------------------------------------------------------ */

/*  1. Clearing
    (http://nicolasgallagher.com/micro-clearfix-hack/
--------------------------------------------------------------------- */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}

/*  2. Misc -------------------------------------------------------- */

.remove-bottom { margin-bottom: 0 !important; }
.half-bottom { margin-bottom: 12px !important; }
.add-bottom { margin-bottom: 24px !important; }
.no-border { border: none; }

.text-center  { text-align: center !important; }
.text-left    { text-align: left !important; }
.text-right   { text-align: right !important; }
.pull-left    { float: left !important; }
.pull-right   { float: right !important; }
.align-center {
	margin-left: auto !important;
	margin-right: auto !important;
	text-align: center !important;
}


/* New css 28th Dec */
/****** IPAD PRO *****/

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  {

      .loc-exp-div {
         left: -6% !important;
      }
      .select-one 
      {
         width: 116% !important;
      }
      .select-two 
      {
         margin-left: 40px !important;
         width: 116% !important;
      }
      .btn-grp-location 
      {
         width: 46% !important;
      }
      .btn-explore {
         width: 61% !important;
      }
      .guided-div
      {
         margin-left: 0% !important;
      }
      .btn-demo {
         width: 81% !important;
         margin-left: -25% !important;
      }
   }


/* New css 14th Dec */

/*IPAD*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  {
    .ref-add {
    width: 30% !important;
    margin-left: 18% !important;
 }
  .ref-finish {
    width: 30% !important;
    margin-left: 55% !important;
        margin-top: -11% !important;
 }

   .header-search-form
   {
      margin-left: 11% !important;
      margin-top: 6% !important;
      margin-right: -10% !important;
   }
  .btn-cross
  {
   margin-top: -3px;
   background: #ce7542 !important;
   color: white !important;
   padding: 10px 12px !important;
   margin-left: -11% !important;
  }
.btn-explore{
    margin-left: 1% !important;
    margin-top: -3px !important;
    width: 64% !important;
  }

   .btn-location {
      width: 80% !important;
   }
   .valuepropostion
   {
      margin-top: 5%;
   }
   .valuepropostion1
   {
      margin-top: 5%;
   }
   .keybeni
   {
      margin-bottom: 5%;
   }
   .story-about-agency-div h1{
      padding-top: 6% !important;
   }
   .blog-post-div h1 {
       padding-top: 6% !important;
   }
   .btn-grp-location {
    margin-left: -131px !important;
    width: 61% !important;
   }

   .sidebar-search {
      margin-top: 1% !important;
      width: 95% !important;
   }
   .blog-div-first
   {
      margin-top: 5%;
   }
   .blog-div-sec
   {
      margin-top: 5%;
   }
   .blog-div-third
   {
      margin-top: 5%;
   }
   .navbar-nav {
      margin-left: 4% !important;
      font-size: 15px !important; 
   }
   .btn-guided {
      width: 84% !important;
      margin-left: -11px !important;
 }
 .btn-demo {
    width: 84% !important;
    margin-left: -29% !important;

 }
 .loc-exp-div
 {
   width: 60% !important;
   margin-top: 3% !important;
   margin-left: 28% !important;
 }
 .footer-left-div{

     margin-left: 32%;
 }
.footer-left-div-p {
    text-align: center !important; 
    margin-left: -51% !important;
    margin-top: 3% !important;
  }
   .footer-center-div
   {
      margin-top: 17% !important;
   }
   .subscribe-div {
    margin-top: 9% !important;
    text-align: center;
   }
   .footer-email-group {
    margin-left: 21% !important;
   }
   .copyright-div {
    margin-top: 4% !important;
   }
   .click {
  
    margin-left: 78% !important;
    margin-top: -6% !important;
   
   }
   .referesh-submission {
    
    padding: 3% 0% 12% 2% !important;
    margin-left: -3% !important;
    margin-right: -1% !important;
    
 }
 .sidebar-contact {
   margin-left: 0% !important;
   width: 26% !important;
   font-size: 26px !important;
 }
 .snd-msg{
   /*margin-left: 57% !important;
   margin-top: -19%;*/
      margin-left: 26% !important;
      margin-top: 9%;
 }
 .footer-left-div >a >img
 {
   margin-left: 18%;
 }
 .btn-cross
   {
   
      color: white !important;
   }
    .formheader{
      height:98px !important;
   }
   .background-img-div2
   {
      width: auto !important;
   }
   .click >button {
    width: 70% !important;
  }
  .company-see-more {
    margin-top: 3% !important;

   }
   .form-div-companydetail {
    
    height: 100% !important;
  }
  .resp-cmp-deatil{
      padding:4% !important;
   }
   .story-1{
         margin-top: 4% !important;
   }
}


/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  {
   .ref-add {
      width:58% !important;
      margin-left: -11% !important;
   }
   .ref-finish{
      width: 55% !important;
      margin-top: -34% !important;
      margin-left: 58% !important;
   }
   .blogtext-p
   {
      text-align: justify;
   }

   .click > button{
      width: 128% !important;
      margin-left: -109% !important;
      padding: 8% 14% 10% 8% !important;
      margin-top: 20%;
   }

   .map-form {
      left: 7%;
   }

   .footer-center-div{
      text-align: center !important;
      line-height: 200%;
   }
      
   .form-div-companydetail {
      height: 100%!important;
   }
   .background-img-div1
   {
      width: auto !important;
   }

   .background-img-div2
   {
      width: auto !important;
   }
   .background-img-div3
   {
      width: auto !important;
      height:358px !important;
   }

   .keybeni
   {
      margin-bottom: 12% !important;
   }
   .resp-keybenifits{
      margin-top: -6% !important;
   }
   .valuepropostion
   {
      margin-bottom: 10% !important;
   }
   .valuepropostion1
   {
      margin-bottom: 10% !important;
   }
   .click >button{
      padding: 1% 90% 7% 7%;

   }

   .btn-grp-location
   {
      margin-left: -29px !important;
      width: 81%;
      margin-top: 2% !important;
   }
   .btn-cross
   {
      margin-top: 2% !important;
      color: white !important;
   }

   .css-vj8t7z{
      width: 100% !important;
   }
   .sidebar-contact
   {
      padding: 1% !important;
      border-radius: 7% !important;
      margin-left: 3% !important;
      margin-top: 0%;
      width: 48% !important;
   }
   .frimname{
         margin-top: 3% !important;
         margin-left: 0% !important;
         font-size: 42px !important;
   }
   .btn-demo-resp{
      margin-left: 60% !important;
      padding: 5% !important;
   }
   .multiple-select-sec{
      margin-left: 0% !important;
   }
  .pagination>li>a {
       color: #ec9d2f !important;
   }
   .pagination>.active>a {
      border-color: #f3e5e500 !important;
   }
  .footer-email-group {
     margin-left: 20% !important;
   }
   .snd-msg{
   /*   float: right !important;
      margin-top: -12% !important;*/
         margin-left: 22% !important;
         margin-top: 6%;
   }
   .click{
      margin-left: 63% !important;
   }
   .navbar-collapse.in {
        background-color: black !important;
    }
   .caption{
      /*text-align: center;*/
   }

   .guided-div
   {
      margin-left: -3% !important;
   }
   
   .header-div{
      left: unset !important;
      height: 380px !important;
   }
   .header-div >h1
   {
      padding-top: 31% !important;
   }

   .btn-contact{
      padding-left:100% !important;
      padding-right:100% !important;
      margin-left: -110% !important;
     }
      .cnt-success{
         margin-left: 30% !important;
      }
      .blog-post-card-body {
           margin-left: 0px !important; 
           margin-right: 0px !important; 
      }
      .story-about-agency-div >div >div >p {
          margin: 0px 20px 0px 14px !important;
       }
       .story-about-agency-div >h1
       {
         padding-top: 8%;
       }
       .blog-post-div h1
       {
        padding-top: 8%; 
       }

      .blog-post-div h4 {
          text-align: justify !important;
       }
      .story-1{
             margin-bottom: 10% !important;

      }
      .select-one
      {
           left: 2% !important;
           margin-left: 8% !important;
      }
      .select-two-media
      {
         /*left: 42% !important;*/
         margin-top: 2% !important;
         margin-left: 10% !important;
      }
      .map-form{
         position: relative !important;
         margin-right: 3%;
      }

   .banner-form-div
   {
      left: 50% !important;
      /*top:70% !important;*/
      margin-top: -120px !important; 
      height: 240px !important;
      
   }
  
   .btn-guided
   {
        /*float: left !important; */
    width: 82% !important;
    margin-left: -4% !important;
    /* padding: 5% !important; */
    padding: 10px 0px 14px 0px !important;
    margin-left: -27% !important;
   }
   .btn-demo
   {
         /* margin-left: 60% !important; */
    margin-top: -54% !important;
    width: 72% !important;
    margin-left: 42% !important;
    padding: 10px 7px 13px 4px !important;
    margin-left: 57% !important;
   }
   .btn-location
   {
      margin-top: -46px !important;
      margin-left: 32% !important;
      width: 61% !important;
      padding-left: 5px !important;

   }
   .btn-explore
   {
      margin-top: -39% !important;
      margin-left: 59% !important;
   }
   .footer-left-div
   {
      text-align: center;
      margin-left: 2%;
      padding-top: 4%;

   }
   .navbar-brand > img{
      width: 25px !important;
   }
   .footer-left-div >img
   {
      margin-left: 0 !important;

   }

   .footer-left-div-p
   {
      margin-left: 0% !important;
      text-align: center !important;
   }
   .footer-center-div >a
   {
      padding-left: 10px !important;
   }
   .footer-center-div {
      /*margin-top: 25% !important;*/
      padding-top: 35% !important;

   }
   .footer-div {
      height: 329px !important;
   }
   .subscribe-div >p {
      padding-left: 0px !important;
      margin-top: 27% !important;
      /*text-align: center;*/
      /*margin-left: 28%;*/


   }
   .copyright-div
   {
      margin-top: 10% !important;
   }
   .background-img-div {
       height: 290px !important;

   }
   .company-see-more {
      margin-top: 12% !important;
   }
   .resp-cmp-deatil{
      padding:7% !important;
   }
   .formheader{
      height:98px !important;
   }

}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 359px)
  {
   .btn-explore {
    margin-top: -39% !important;
    margin-left: 61% !important;
   }
    .guided-div {
    margin-top: -10% !important;
}
.btn-guided{
   width: 89% !important;
}
.btn-demo{
   width: 66% !important;
   margin-left: 64% !important; 
}
}


.companydetail-logo-firm
{
   padding-top: 6%;
}
.blog-div-first
{
   padding-top: 2%;
}
.blog-div-sec
{
   padding-top: 2%;
}
.blog-div-third
{
   padding-top: 2%;
}
.contact-us-text
{
   min-width: 0px !important;
   padding: 7px !important;
   border-top: none !important;
   border-right: none !important;
   border-left: none !important;
}

.sidebar-menu.tree
{
   margin-top: 5%;
}
.company-see-more >a >h3
{
   color: black;
}
.company-see-more >a:hover
{
   text-decoration: none;
}
.stry-1
{
   padding: 1% 7% 0% 8%;
}
.stry-2
{
   padding: 1% 10% 0% 11%;
}
.stry-3
{
   padding: 0% 2% 0% 0%;
}
.stry-4
{
   padding: 1% 7% 0% 8%;
}
.stry-5
{
   padding: 1% 7% 0% 6%;
}
input.empty 
{
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.css_15k3avv .select__menu{
   z-index: 99999 !important;
}

.treeview a:hover
{
   text-decoration: none;
}
.treeview a:focus
{
   text-decoration: none;
}
.treeview-menu >li >a:hover
{
   text-decoration: none;
}
.menu-open
{
   text-decoration: none;
}
.menu-open >a:focus{
   text-decoration: none !important;
}
.footer-div
{
   height:auto !important;
   margin-top: 5%;
       margin-right: 0% !important;
}
.footer-copyright
{
   color: white;
   margin-top: 6%;
}
.footer-left-div
{
   height: 35px;
   margin-top: 2%;
   padding-top: 2%;
}
.footer-left-div >img
{
   margin-left: 18%;
}

.footer-left-div-p{
   text-align: left;
   color: white;
   margin-left: 0%;
   margin-top: 5%;
}

.footer-center-div
{
   margin-top: 2%;
   text-align: left;
   padding-top: 2%;
}
.footer-center-div >a{
   padding-left: 50px;
   color: white;
   text-decoration: none;
}
.footer-center-div >a:hover
{
   color: white;
   text-decoration: none;
}
.footer-right-div{
   margin-top: 2%;
   padding-top: 2%;
}

.footer-right-div >p{
   color: white;
}
.subscribe-div
{
   margin-top: 6%;
}
.subscribe-div >p{
   color: white;
   padding-left: 30px;
       font-weight: bold;
    font-size: 17px;
}
.fab{
   color:#f5f5f5;
   border: 1px solid;
   border-radius: 50%;
   padding: 10px;
   font-size:10px !important;
}

.fab-facebook
{


   padding: 4px 13px;
   line-height: unset !important;
   font-size :20px !important;
   color:#337ab7;
   display: inline-block;
    border-radius: 60px;
    /* box-shadow: 0px 0px 2px #888; */

    font-weight: bold;
    border: 3px solid;

  
}
.fab-google
{

padding: 4px 5px;
line-height: unset !important;
font-size :20px !important;
   color:#337ab7;
   display: inline-block;
   /* border-radius: 60px;*/
    /* box-shadow: 0px 0px 2px #888; */
    
  font-weight: bold;
  border: 3px solid;
   
}
.fab-twitter
{

   padding: 4px 8px;
   line-height: unset !important;
   font-size :20px !important;
   color:#337ab7;
   display: inline-block;
    border-radius: 60px;
    /* box-shadow: 0px 0px 2px #888; */
        
  font-weight: bold;
  border: 3px solid;
   
}
.blogtext{
   text-align: justify;
}
.blogtext-p
{
   font-size: 18px;
   line-height: 30px;
}
.sidebartext{
   color:orange;
  
   
}
.copyright-div
{
   margin-top: 15%;
   padding-top: 3%;
}
.copyright-div >p{
   color: white;
}
.inpt-text
{
   display: inline-block;
    width: 68%;
    border-right: 0px;
    background-color: transparent;
}
.input-group-append
{
   display: inline-block;
}
.clnt-img
{
   margin-top: 2%;
}
.pie-chart
{
   margin-top: 5%;
}
.chart-div{
   box-shadow: 1px 1px 2px #eae6e6, 0 0 25px #e0e0e0, 0 0 5px #c3bdbd;
   /*height: 380px;*/
   padding: 1% !important;
}
.background-img-div1
{
   box-shadow: 1px 1px 2px #eae6e6, 0 0 25px #e0e0e0, 0 0 5px #c3bdbd;
   height: 300px;  
   
}

.background-img-div2
{
   box-shadow: 1px 1px 2px #eae6e6, 0 0 25px #e0e0e0, 0 0 5px #c3bdbd;
   height: 300px;  
   width: 31% ;
}

.background-img-div3
{
   box-shadow: 1px 1px 2px #eae6e6, 0 0 25px #e0e0e0, 0 0 5px #c3bdbd;
   height: 300px; 
}
.form-div-companydetail
{
   box-shadow: 1px 1px 2px #eae6e6, 0 0 25px #e0e0e0, 0 0 5px #c3bdbd;
}
.company-see-more
{
   margin-top: 32%;
}
.company-review-title-div >h2
{
   margin-left: 13px; 
}
.step-div h1 {
text-align: center;
letter-spacing: 0;
color: #1b3f69;
font-weight: 600;
}

.keyfeature-div h1 {
text-align: center;
letter-spacing: 0;
color: #1b3f69;
font-weight: 600;
}
.keyfeature-div
{
background-color: #dce7ef;
height: auto;
margin-top: 5%;
padding: 0% 0% 6% 0%;
}
.value-proposition-div
{
margin-top: 5%;
height: auto;
margin-bottom: 3%;
}
.value-proposition-div h1
{
text-align: center;
letter-spacing: 0;
color: #1b3f69;
font-weight: 600;
    margin-top: -2%;
}
.card-text
{
   
    padding-top: 7%;
    color: #1b3f69;
    font-size: 16px;

    
}
.textsize-contact{
   font-size: 20px;
}
.story-about-agency-div
{
margin-bottom: 5%;
    padding: 0% 0% 6% 0%;
}
.story-about-agency-div h1
{
text-align: center;
letter-spacing: 0;
color: white;
font-weight: 800;
margin-top: 2%;
}
.second-line-agency-div
{
margin-top: 5%;
}
.story-about-agency-div >div >div >p{
margin: 0px 48px 0px 53px;
color: white;
    font-size: 18px;
}

.story-about-agency-div >div >div >h4{
color: white;
}

.second-line-agency-div >div >p{
margin:0px 48px 0px 53px;
}


.blog-post-div h1
{
text-align: center;
letter-spacing: 0;
color: #1b3f69;
font-weight: 600;
}
.blog-post-div h4{
text-align: center;
line-height: 30px;
color: #1b3f69;
font-size: 22px;
}

.blog-post-card-body{
margin-left: 35px;
margin-right: 47px;
}
.map-image-div{
margin-top: 5%;
}
.map-image {
/* The image used */
background-image: url("../../images/map.png");
 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
min-height: 380px;

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
margin-left: -2%;
    margin-right: -2%;
}

/* Add styles to the form container */
.map-form{
right: 2%;
    margin: 3%;
    max-width: 528px;
    padding: 13px;
    background-color: white;
    margin-right: 9%;
    border-radius: 5px;
  
}
.footer-email-group {
margin-left: 4%;
width: 60% !important;
}
.footer-email
{
background-color: transparent !important;
    font-weight: bold;
    border-top-right-radius:6px !important;
    border-bottom-right-radius :6px !important;
}
.dv-star-rating-star>i{
   font-size: 40px;
}
.dv-star-rating-star{
   float:none !important;
}
.banner-form-div {
position: absolute;
/*top: 84%;*/
margin-top: -100px; 
left: 50%;
transform: translate(-50%, -50%);
/*bottom: 0;*/
background-color: #fff;
height: 200px;
width: 72%;

box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

body{min-height:200vh;}
.navbar-inverse{
transition:500ms ease !important;
background:transparent !important;
}
.navbar-inverse.scrolled{
background:#000 !important;
}  
.navbar-nav{
   margin-top: 1% !important;

}
.navbar-inverse .navbar-nav>li>a{
   color: white !important;
   font-weight: bold !important;
}
.btn-contact{
   padding-left:50%;
    padding-right:50%;
    font-size: 25px !important;
}
.cnt-success{
   margin-left: 42% !important;
}
.fa-volume-control-phone{
   color: orange;
   font-size: 30px !important;
}
.fa-map-marker{
   color: orange;
   font-size: 30px !important;
}
.abc{
       padding: 14px !important;
    margin-left: -8%;
    margin-top: -10%;
    color: white;
    background-color: #f7811c;
    /* text-align: center; */
    margin-right: -8%;
    height: 65px;
    width:100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.navbar-toggle{
   background-color: black !important;
}
.navbar-toggle .icon-bar {
    background-color: white !important;
}
.css-vj8t7z{
   height: 44px !important;
   width: 82% ;       
}

.select-one.open
{
   z-index: 99999 !important;
}

.footer-menu>a{
   color: white ;
   
}
.footer-menu>a:hover{
   color: white !important ;
   text-decoration: none !important;
   
}
 .pagination > .disabled >a{
    color: #ec9d2f !important;
 }
 .pagination>.active>a
 {
     border-color: white !important;
     background-color: #e1e1e1 !important;
     border-color: #e1e1e1 !important;
 }
 .multiple-select-sec{
       margin-left: -23%;
   
    width: 101%;
 }
 .btn-location{
       width: 67%;
    padding: 3% 8% 4% 0%;
    /* margin-left: -44%; */
    margin-left: -46%;
    margin-top: -3px;
 }
 .btn-explore{
        
   /* padding: 4% 8% 4% 0% !important;*/
    /* margin-left: -44%; */
    margin-left: 2%;
    margin-top: -2%;
    width: 55%;
 }
 .btn-guided{
        width: 35%;
   /* padding: 2% 5% 3% 0% !important;*/
    /* margin-left: -44%; */
    margin-left: 55%;
 }
 .btn-demo{
       width: 35%;
      margin-left: -13%;
     /*padding: 2% 16% 3% 10% !important ;*/
 }
 .valuepropostion{
       border: thin #3e353517 solid;
    /* padding: 0%; */
    padding-bottom: 10%;
    border-radius: 3%;
    text-align: center;
 }
 .valuepropostion1{
   border: thin #3e353517 solid;
    /* padding: 0%; */
    padding-bottom: 10%;
    border-radius: 3%;
    text-align: center;
 }
 .thumbnail .caption {
   
 }
 .link{
   color: #fff !important;
   text-decoration: none !important;
 }
 .sidebar-search
 {
   position: relative;
   margin-top: 2%;
   margin-left: 3%;
   font-size: 24px;
   opacity: 0.5;
 }
 .btn-grp-location
 {
   margin-left: -132px;
   /*width: 52%;*/

 }
 .btn-cross
 {
   margin-top: -3px;
   background: #ce7542 !important;
   color: white !important;
   padding: 10px 12px !important;
 }
 .navbar-right
 {
   font-size: 18px;
 }

 .footer-soc
 {
   font-weight: 900;
   border: 3px solid;
   font-size: 14px !important;
 }
 .footer-menu{
   font-weight: bold;
    font-size: 17px;
 }
 .cmp-client-detail{
   margin-left: 10%;
   font-size: 18px; 
 }




/* desktop version  */
@media only screen 
  and (min-device-width: 769px)  
{
   .chart-div{
      width: 49% !important;
      padding: 0px !important;
   }
   .chart-div-right{
      margin-left: 2% !important;
   }
   .background-img-div2{
      width:31% !important;
      margin-left: 1% !important;
   }
    .background-img-div3{
      width:31% !important;
      margin-left: 1% !important;
   }
   
}
.nav
      {
         padding-left : 21%;
      }

@media only screen 
  and (min-width: 769px) 
  and (max-width: 1100px) 
  {
   .navbar-nav
   {
      padding-left: 3% !important;
   }
   .nav
   {
      padding-left : 3% !important;
   }
   .btn-grp-location {
      margin-left: -194px;
   }
   .loc-exp-div
   {
      margin-left: 38%;
      /*width: 100% !important;*/
   }

}



/* Iphone 6/7/8 Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 410px) 
  { 
   .ref-finish {
          margin-top: -27% !important;
              margin-left: 55% !important;
   }

  .cal {
      margin-left: 48% !important;
   }
   .referesh-submission
   {
      margin-left: -4% !important;
      margin-right: -4% !important;
   }
   .keybeni-first
   {
      margin-left: 5%;
   }
   .btn-cross{
      margin-top: 1% !important;
   } 

   .sidebar-p
   {
      /*margin-left: -16% !important;*/
   }
   .select-one {
      left: 7% !important;
   }
   .btn-location {
      margin-left: 28% !important;
   }
   .btn-explore {
    margin-top: -30% !important ;
   }
   .map-form
   {
      margin-right: 16% !important; 
   }
   .subscribe-div >p{
      margin-top: 59% !important;
    }
    .btn-guided {
      width: 78% !important;
      padding: 10px 0px 13px 0px !important;
      margin-left: -21% !important;
      margin-top: -6% !important;
   }
   .btn-demo {
       margin-top: -41% !important;
       width: 69% !important;
       margin-left: 42% !important;
       padding: 10px 7px 13px 4px !important;
       margin-left: 57% !important;
   }
   .blogtext-p
   {
      text-align: justify;
   }
   .select-two-media {
    margin-left: -30% !important;
    }
}


/* Iphone 6+/7+ Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

   .ref-finish {
          width: 52% !important;
         margin-top: -23% !important;
        margin-left: 56% !important;

   }
   .ref-add {
    width: 54% !important;
    margin-left: -8% !important;
}
   .select-two-media {
      left: 37% !important;
   }
   .btn-explore {
      margin-top: -30% !important;
   }
   .map-form {
      left: 3% !important;
   }
   .btn-demo {
      margin-top: -37% !important;
      width: 67% !important;
   }
   .btn-guided {
    width: 74% !important;
    margin-left: -18% !important;
    margin-top: -10% !important;
   }
   .blogtext-p
   {
      text-align: justify;
   }
   .btn-location
   {
      left: -4% !important;   
   }

   
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 410px)
  {
   .select-two-media{
      margin-left : 10% !important;
   }
   .select-one {
    left: 2% !important;
   }
.btn-explore {
    margin-top: -34% !important;
   }
   .btn-grp-location{
      margin-top: 4% !important;
   }
}


@media only screen 
  and (min-width: 1101px) 
  and (max-width: 1300px) 
  {
 
   .navbar-right
   {
        padding-left: 2% !important;
   }
   .nav
   {
      padding-left : 10% !important;
   }
   .navbar-nav{
       padding-left: 10% !important;
   }
   .btn-location
   {
      width: 88% !important;
      margin-top: -30% !important;
      margin-left: 39% !important;
   }
   .btn-cross{
      margin-left: 8% !important;
   }
   .btn-explore{
      margin-left: 41% !important;
    width: 67% !important;
    margin-top: -29%;
   }
   .applied
   {
      margin-top: -8% !important;
   }
   .btn-guided
   {
      margin-left: 52% !important;
   }

  
}
 
 @media only screen 
  and (min-width: 1301px) 
  and (max-width: 1800px) 
  {
   .nav
   {
      padding-left : 10% !important;
   }
   .navbar-nav{
      padding-left: 22% !important;
   }
   .navbar-right
   {
      padding-left: 15% !important;
   }
   .btn-grp-location
   {
      width: 63%;
      margin-left: -139px;
   }
   .btn-guided
   {
      width: 37% !important;
      padding: 12px 9px 8px 6px !important;
   }
}  



@media only screen 
  and (min-device-width: 1099px) 
  and (max-device-width: 1300px) 
  {

   .btn-guided
   {
      width: 40% !important;
      padding: 11px 4px 9px 2px !important;
   }
   .navbar-nav{
       padding-left: 10% !important;
   }
   .nav
   {
      padding-left : 20% !important;
   }

}
   



/*IPAD*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 768px) 
  {
      .chart-div-right{
            margin-top: 4% !important;
         }
         .referesh-submission {
    
    margin-left: -5% !important;
    margin-right: -6% !important;
}



@media only screen 
  and (min-width: 773px) 
  and (max-width: 1097px) 
{
   .btn-explore 
   {
      margin-left: 5%;
      margin-top: 1%;
      width: 31%;
   }
   .btn-guided {
      width: 78%;
      margin-left: -9%;
   }
   .btn-demo 
   {
      width: 71%;
      margin-left: -34%;
   }
   .btn-grp-location 
   {
      margin-left: -179px;
      margin-top: 2%;
      width: 32%;
   }
}


@media only screen
   and(min-width: 578px)
   and(max-width: 778px)
{
   .select-two 
   {
      display: none;
   }
   
}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */


@media screen 
  and (min-device-width: 360px) 
   and (max-device-width: 374px)  
{
   .ref-finish {
          margin-top: -29% !important;
    width: 55% !important;
    margin-left: 53% !important;
     
   }
   .ref-add {
     margin-left: -10% !important;
    width: 55% !important;

   }
       
        .select-one {
    margin-left: 8% !important;
   }
   .select-two-media {
    left: 37% !important;
    margin-top: 3% !important;
        margin-left: -52px !important;
   }
   .btn-location {
      margin-left: 29% !important;
   }
  .btn-guided {
    width:84% !important;
    margin-left: -23% !important;
    margin-top: -7% ;
  }
  .btn-explore {
    margin-top: -35% !important;
    width: 55% !important; 
    margin-left : 60% !important;
  }
  .btn-demo { 
      margin-top: -44% !important;
      width: 65% !important;
      margin-left : 62% !important;
   }
   .map-form 
   {
      left: 2% !important;
   }
   .btn-grp-location{
      margin-top: 3% !important;
   }

}
/*
@media screen 
  and (min-device-width: 375px) 
   and (max-device-width: 410px)  
{
       
        .select-one {
    margin-left: 8% !important;
   }
   .select-two-media {
    left: 37% !important;
    margin-top: 3% !important;
        margin-left: -52px !important;
   }
   .btn-location {
      margin-left: 29% !important;
   }
  .btn-guided {
    width:84% !important;
    margin-left: -23% !important;
    margin-top: -7% ;
  }
  .btn-explore {
    margin-top: -35% !important;
    width: 55% !important; 
    margin-left : 60% !important;
  }
  .btn-demo { 
      margin-top: -44% !important;
      width: 65% !important;
      margin-left : 62% !important;
   }
   .map-form 
   {
      left: 2% !important;
   }
   .btn-grp-location{
      margin-top: 3% !important;
   }

}*/
@media screen 
  and (min-device-width: 411px) 
   and (max-device-width: 413px)  
{
   .ref-add {
          width: 55% !important;
         margin-left: -8% !important;
   }
   .ref-finish {
         width: 55% !important;
         margin-top: -23% !important;
         margin-left: 53% !important;
   }

   .select-one{
       margin-left: 8% !important;
   }
   .select-two-media {
    left: 37% !important;
      margin-left: -60px !important;
    margin-top: 2% !important;
   }
   .btn-location {
      margin-left: 26% !important;
   }
  .btn-guided {
    width:78% !important;
    margin-left: -18% !important;
    margin-top: -7% ;
  }
  .btn-explore {
    margin-top: -30% !important;
  }
  .btn-demo { 
         margin-top: -37% !important;
          width: 64% !important;
          margin-left: 60% !important;
   }
   .map-form 
   {
      left: 2% !important;
   }
.btn-grp-location{
   margin-top: 2% !important;}
}


@media screen 
  and (min-device-width: 413px) 
   and (max-device-width: 568px)  
{
   .select-one{
       margin-left: 8% !important;
   }
   .select-two-media {
    left: 37% !important;
      margin-left: -62px !important;
    margin-top: 2% !important;
   }
   .btn-location {
      margin-left: 26% !important;
   }
  .btn-guided {
    width:75% !important;
    margin-left: -18% !important;
    margin-top: -7% ;
  }
  .btn-explore {
    margin-top: -30% !important;
    margin-left : 58% !important;
  }
  .btn-demo { 
         margin-top: -37% !important;
          width: 64% !important;
          margin-left: 59% !important;
   }
   .map-form 
   {
      left: 2% !important;
   }
.btn-grp-location{
   margin-top: 2% !important;}
}





}/* extra*/